body {
	margin:0;
	padding:0;
	color:#111;
	font-size:13px;
	font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}
img {
	border:0 none;
}
img,object {
	max-width:100%;
}
ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
a {
	color:#D9312B;
	text-decoration:none;
}
header {
	height:64px;
	transition:none;
}
header {
	background:#D9312B;
	color:#fff;
	width:100%;
	height:64px;
	margin:0 auto;
	text-align:center;
	position:relative;
	box-shadow:0 0 10px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow:0 0 10px 0 rgba(0,0,0,0.2);
	top:0;
	left:0;
	z-index:100;
	line-height:1.3;
}
header h1.logo {
	margin:0;
	padding:1rem 0;
}
nav {
	height:64px;
	background:#B91B15;
}
nav ul {
	max-width:800px;
	margin:0 auto;
}
nav li {
	float:left;
	width:20%;
	margin:20px 0;
	text-align:center;
}
nav li a {
	color:#fff;
	font-size:18px;
	cursor:pointer;
	overflow:hidden;
}
nav li #current {
	color:#fff;
	font-weight:bold;
}
/* 漫画内容页 */
article {
	text-align:center;
	overflow:hidden;
}
article p {
	margin:0 0 20px 0;
}
article p img {
	max-width:100%;
}
.container {
	max-width:850px;
	margin:0 auto;
	padding:15px 5px 20px 5px;
}
/* 动画内容页 */
.videoArea {
	padding:0 0 20px 0;
}
.textArea {
	width:100%;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
}
.textArea h2 {
	font-size:18px;
	margin-top:16px;
	color:#3D3D3D;
	position:relative;
	margin:0 0 15px 0;
	padding:0 0 15px 0;
	border-bottom:1px solid #e7e7e7;
}
.textArea h2:after {
	content:"";
	background-color:#D9312B;
	left:0;
	width:65px;
	height:3px;
	bottom:-2px;
	position:absolute;
}
.textArea .date {
	color:#888;
}
.textArea .desc {
	color:#777777;
	font-size:15px;
	margin-top:8px;
	line-height:26px;
}
/* 目录 */
table {
	width:100%;
	padding:0;
	margin:0;
	border-collapse:collapse;
}
.episode-list td {
	font-size:14px;
	padding:12px 5px 12px 0;
	word-wrap:break-word;
	word-break:break-word;
}
.episode {
	border-bottom:1px solid #ecf0f1;
}
.episode:hover {
	opacity:0.75;
}
td.episode-num {
	color:#9DA0A3;
}
td.episode-title {
	color:#3D3D3D;
}
td.episode-title a {
	color:#3D3D3D;
}

td.episode-title a:visited {
	color:#9DA0A3;
}
@media (min-width:768px) {
	.episode-date {
	text-align:right;
	color:#9DA0A3;
}
}@media (min-width:992px) {
	.episode-date {
	text-align:right;
	color:#9DA0A3;
}
}@media (min-width:1200px) {
	.episode-date {
	text-align:right;
	color:#9DA0A3;
}
}@media (max-width:767px) {
	.episode-date {
	display:none;
}
/* 动画剧情介绍页 */
.update {
	padding:0 10px 10px 10px;
	border:1px solid #eee;
	overflow:hidden;
}
.update a:link {
	display:inline-block;
	min-width:16%;
	box-sizing:border-box;
	text-align:center;
	border-radius:8px;
	padding:8px 5px;
	margin:10px 5px;
	background-color:#fff;
	position:relative;
	border:1px solid #D9312B;
	font-size:.95rem;
	color:#D9312B;
}
.subtitle {
	font-size:1rem;
	color:#6d757a;
	position:relative;
	padding-left:.5rem;
	margin:1.25rem 0 0.625rem 0;
	font-weight:400;
	overflow:hidden;
}
.season {
	font-size:1rem;
	color:#6d757a;
	position:relative;
	padding-left:1.25rem;
	margin:1.25rem 0 0.625rem 0;
	font-weight:400;
	overflow:hidden;
	white-space:nowrap;
	background:#f7f7f7;
}
.season:before {
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:5px;
	height:100%;
	background-color:#D9312B;
	border-radius:10px;
}
.season a {
	font-size:1rem;
	color:#6d757a;
}
.story {
	overflow:hidden;
}
.story h2 {
	font-size:1rem;
	color:#D9312B;
	position:relative;
	padding-left:1.25rem;
	margin:1.25rem 0 0.625rem 0;
	font-weight:400;
	overflow:hidden;
}
.story h2:before {
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:5px;
	height:100%;
	background-color:#D9312B;
	border-radius:10px;
}
.story ul {
	margin-right:auto;
	margin-left:auto;
	width:100%;
}
.story ul {
	position:relative;
}
.story ul:after,.story ul:before {
	content:"";
	clear:both;
	display:table;
}
.story ul li a:after,.story ul li a:before {
	content:"";
	clear:both;
	display:table;
}
}@media (min-width:768px) {
	.story ul li {
	float:left;
	width:48%;
	height:100%;
	margin:0 7px;
	padding:0;
	border-radius:8px;
	margin-bottom:12px;
	overflow:hidden;
}
}@media (min-width:992px) {
	.story ul li {
	float:left;
	height:100%;
	width:30%;
	margin:0 1.6%;
	padding:0;
	border-radius:8px;
	margin-bottom:12px;
	overflow:hidden;
}
}@media (min-width:1200px) {
	.story ul li {
	float:left;
	height:100%;
	width:30%;
	margin:0 16px;
	padding:0;
	border-radius:8px;
	margin-bottom:12px;
	overflow:hidden;
}
}@media (max-width:767px) {
	.story ul li {
	float:left;
	width:100%;
	height:100%;
	padding:0;
	border-radius:8px;
	margin-bottom:12px;
	overflow:hidden;
}
}.story ul li p.ep-date {
	color:#999;
	font-size:14px;
	margin-bottom:8px;
	text-align:center;
}
.story ul li a {
	display:block;
	position:relative;
	width:100%;
}
.story ul li a:visited {
	color:#aaa;
}
.story ul li a:hover {
	opacity:0.75;
}
.story ul li .ep-img {
	float:left;
	height:168px;
	border-radius:8px;
	border:1px solid #dedede;
	overflow:hidden;
}
.story ul li .ep-img img {
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
}
.story ul li .ep-info {
	position:absolute;
	right:0;
	bottom:0;
	left:0;
	height:38px;
	transition:text-shadow .1s;
	background:linear-gradient(180deg,transparent,rgba(0,0,0,.75));
}
.story ul li .ep-info .ep-num {
	line-height:20px;
	padding:0;
	margin:0;
	margin-bottom:5px;
	color:#555;
}
.story ul li .ep-info .ep-date {
	line-height:20px;
	padding:0;
	padding-top:0.8rem;
	color:#ccc;
}
.story ul li .ep-info .ep-tit {
	width:calc(100% - 20px);
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	display:block;
	position:absolute;
	right:10px;
	bottom:10px;
	left:10px;
	max-height:36px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	line-height:18px;
	text-shadow:1px 1px 1px #444;
}
.context {
	max-width:850px;
	margin:25px auto;
	text-align:center;
}
.context li {
	width:28%;
	line-height:30px;
	margin:5px 2px;
	padding:5px 0;
	background-color:#D9312B;
	border-color:#D9312B;
	border:1px solid #D9312B;
	border-radius:5px;
	white-space:nowrap;
	display:inline-block;
}
.context li a {
	color:white;
	font-size:16px;
	font-weight:600;
}
.commentArea {
	overflow:hidden;
	padding:5px;
}
.adArea {
	overflow:hidden;
	padding:5px;
}
.weixin img {
	width:100%;
	overflow:hidden;
}